<div class="saldo-card">
    <div class="saldo-card-header" (click)="chartOpen = !chartOpen">
        <div class="saldo-card-title">
            <i class="fa fa-chart-pie"></i>
            Spese per tipologia
        </div>
        <i class="fa" [ngClass]="chartOpen ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
    </div>
    <div class="saldo-chart-body" [class.open]="chartOpen">
        <div *ngIf="dataLoaded && mapTipologia.size === 0" class="chart-empty">
            <i class="fa fa-receipt"></i>
            Nessuna spesa registrata
        </div>
        <ng-container *ngIf="mapTipologia.size > 0">
            <canvas baseChart [data]="pieChartData" [type]="pieChartType"
                [options]="pieChartOptions" [plugins]="pieChartPlugins">
            </canvas>
            <div class="chart-legend">
                <div class="chart-legend-item" *ngFor="let label of pieChartData.labels; let i = index">
                    <span class="chart-legend-dot" [style.background]="chartColors[i]"></span>
                    <span class="chart-legend-name">{{label}}</span>
                    <span class="chart-legend-value">{{formatToEur(pieChartData.datasets[0].data[i])}}</span>
                </div>
            </div>
        </ng-container>
    </div>
</div>
