canvas{
    margin-bottom: -70px;
}

.mat-expansion-panel-header-description {
    flex-grow: 0.4;
    justify-content: flex-end;
  }
  
  .mat-expansion-panel-header{
    padding-left: 0px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 2px;
  }
  