<div class="share-dialog">
    <div class="share-dialog-header">
        <div class="share-dialog-icon">
            <i class="fa fa-share-nodes"></i>
        </div>
        <button class="share-dialog-close" (click)="modalService.close(false)">
            <i class="fa fa-times"></i>
        </button>
    </div>

    <div class="share-dialog-body">
        <h5 class="share-dialog-title">Condividi lista</h5>
        <p class="share-dialog-text">Invia il link a chi vuoi invitare nella lista.</p>

        <div class="share-link-row">
            <input class="share-link-input" [value]="shareLink" onfocus="this.select();" readonly>
            <button class="share-copy-btn" (click)="copyLinkToClipboard()" [class.copied]="copied" title="Copia link">
                <i class="fa" [ngClass]="copied ? 'fa-check' : 'fa-copy'"></i>
            </button>
        </div>

        <div class="share-apps">
            <a class="share-app-btn share-app-whatsapp" [href]="'https://wa.me/?text=' + replaceChars(shareLink)" target="_blank" title="WhatsApp">
                <i class="fab fa-whatsapp"></i>
                <span>WhatsApp</span>
            </a>
            <a class="share-app-btn share-app-telegram" [href]="'https://t.me/share/url?url=' + replaceChars(shareLink)" target="_blank" title="Telegram">
                <i class="fab fa-telegram"></i>
                <span>Telegram</span>
            </a>
        </div>
    </div>
</div>
