<app-expense-list-view
    [expensesList]="expensesList"
    [expenses]="expenses"
    [expensesLoaded]="expensesLoaded"
    [expensesListTotalAmount]="expensesListTotalAmount"
    [isPersonal]="true"
    [balanceDetails]="[]"
    (newExpense)="openNewExpenseDialog(newExpense(), 'Crea')"
    (editExpense)="openNewExpenseDialog($event, 'Modifica')"
    (repeatExpense)="openNewExpenseDialog($event, 'Ripeti')"
    (deleteExpense)="delete($event)"
    (salda)="salda(expensesList!)"
    (leave)="leave(expensesList!)"
    (deleteList)="leave(expensesList!)">
</app-expense-list-view>
