<div class="container">
  <div id="spese-detail-chart" class="chart">
    <canvas baseChart [data]="pieChartData" [type]="pieChartType" [options]="pieChartOptions"
      [plugins]="pieChartPlugins">
    </canvas>
  </div>
</div>
<div class="bg-white">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Deve a</th>
        <th>Importo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let balanceDetail of balanceDetails">
        <td>{{balanceDetail.buyer}}</td>
        <td>{{balanceDetail.receiver}}</td>
        <td class = "text-right" [ngClass]="(balanceDetail.toPay > 0) ? 'text-danger' : 'text-success'">{{formatToEur(balanceDetail.toPay)}}
        </td>
      </tr>
    </tbody>
  </table>
</div>