<!-- username & password icons-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

<div class="modal-header">
    <h5 class="modal-title">Crea una nuova lista</h5>
    <button type="button" (click)="modalService.close(null)" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form #newListForm="ngForm">
        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-list-ul"></i></span>
            </div>
            <input type="text" name='name' [(ngModel)]="newListForm.name" class="form-control input_pass" value=""
                placeholder="Nome nuova lista">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" (click)="modalService.close(null)" class="btn btn-danger"
        data-dismiss="modal">Annulla</button>
    <button type="button" [disabled]="newListForm.name == null" 
            (click)="modalService.close(newListForm.name)" class="btn btn-success">Crea</button>
</div>