<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" mode="over" position="end">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- CONTENT PAGINA -->
        <app-toolbar class="sticky-top" *ngIf="isPathSignin()"></app-toolbar>
        <router-outlet></router-outlet> <!-- redirects to HomeComponent/AccessDenied/ecc... -->
        <div *ngIf="showSpinner">
            <app-spinner></app-spinner>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>