<div class="dialog-header">
    <h5 class="dialog-title">{{action}} spesa</h5>
    <button class="dialog-close" (click)="modalService.close(null)" aria-label="Close">
        <i class="fa fa-times"></i>
    </button>
</div>

<div class="dialog-body">
    <form #newExpenseForm="ngForm">

        <div class="field-group">
            <label class="field-label">Descrizione</label>
            <input type="text" name="name" [(ngModel)]="newExpense.name" class="field-input"
                list="expensesList" (blur)="touched.name = true"
                [class.is-invalid]="touched.name && !isValidExpense(newExpense.name!)"
                [class.is-valid]="touched.name && isValidExpense(newExpense.name!)"
                onfocus="this.select();" placeholder="Es. Cena al ristorante">
            <datalist id="expensesList">
                <option *ngFor="let expense of expenseTooltip">{{expense}}</option>
            </datalist>
            <span class="field-error" *ngIf="touched.name && !isValidExpense(newExpense.name!)">
                Deve contenere 1-{{maxInputText}} caratteri.
            </span>
        </div>

        <div class="field-row">
            <div class="field-group">
                <label class="field-label">Importo</label>
                <div class="field-input-prefix">
                    <span class="field-prefix">€</span>
                    <input type="number" name="amount" [(ngModel)]="newExpense.amount" class="field-input with-prefix"
                        (blur)="touched.amount = true"
                        [class.is-invalid]="touched.amount && !isValidAmount(newExpense.amount!)"
                        [class.is-valid]="touched.amount && isValidAmount(newExpense.amount!)"
                        onfocus="this.select();" placeholder="0,00">
                </div>
                <span class="field-error" *ngIf="touched.amount && !isValidAmount(newExpense.amount!)">
                    Importo maggiore di 0.
                </span>
            </div>

            <div class="field-group">
                <label class="field-label">Data</label>
                <input type="date" class="field-input" name="date" [(ngModel)]="selectedDate"
                    lang="en-US"
                    (blur)="touched.date = true"
                    [class.is-invalid]="touched.date && !selectedDate"
                    [class.is-valid]="touched.date && !!selectedDate">
                <span class="field-error" *ngIf="touched.date && !selectedDate">
                    Selezionare una data.
                </span>
            </div>
        </div>

        <div class="field-group">
            <label class="field-label">Pagato da</label>
            <select name="buyer" [(ngModel)]="selectedBuyerName" class="field-input"
                (blur)="touched.buyer = true" (change)="touched.buyer = true"
                [class.is-invalid]="touched.buyer && !selectedBuyerName"
                [class.is-valid]="touched.buyer && !!selectedBuyerName">
                <option value="" disabled>Seleziona partecipante</option>
                <option *ngFor="let p of participants" [value]="p.name + ' ' + (p.surname ?? '')">
                    {{p.name}} {{p.surname ?? ''}}
                </option>
            </select>
            <span class="field-error" *ngIf="touched.buyer && !selectedBuyerName">
                Selezionare chi ha pagato.
            </span>
        </div>

        <div class="field-group">
            <label class="field-label">Tipologia</label>
            <select name="expenseType" [(ngModel)]="selectedTypeId" class="field-input">
                <option *ngFor="let t of expenseTypes" [ngValue]="t.id">{{t.name}}</option>
            </select>
        </div>

    </form>
</div>

<div class="dialog-footer">
    <button class="btn-cancel" (click)="modalService.close(null)">Annulla</button>
    <button class="btn-confirm" [disabled]="!isValid()" (click)="close()">{{action}}</button>
</div>
