#toolbar-site-name{
  font-size: 2rem;
}

.toolbar-list-span{
    color: white !important;
    margin-left: 6px;
    font-size: 1rem;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logout-icon{
  color: white !important;
  margin-left: 10px;
}

#logout-span{
  padding-top: -10px;
}

#sidenav-btn{
  margin-right: 1rem;
  cursor: pointer;
}