<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-spese">
  <a class="navbar-brand" href=""><h1>Spese</h1></a>
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <div *ngIf="loggedUser$ | async as user">
          <a class="nav-link" href="">
            <img class='user_image' referrerpolicy="no-referrer" [src]="user.profileImage"/> {{user.fullname}}
          </a>
        </div>	
      </li>
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <div *ngIf="loggedUser$ | async as user">
          <a class="nav-link" (click)="logout()" role="button">
            <img class='user_image fas fa-sign-out-alt' referrerpolicy="no-referrer"/> Logout
          </a>
        </div>	
      </li>
    </ul>
  </div>
</nav>