<div class="modal-header">
    <h5 class="modal-title">Crea una nuova lista</h5>
    <button type="button" (click)="modalService.close(null)" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form #newListForm="ngForm">
        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-shopping-cart"></i></span>
            </div>
            <input type="text" name='expense' [(ngModel)]="expense.expense" class="form-control input_pass" required
                list="expensesList" [ngClass]="isValidExpense(expense.expense) ? 'is-valid' : 'is-invalid'"
                onfocus="this.select();"  placeholder="Nome nuova spesa">
            <div class="invalid-feedback">Deve contenere 1-{{maxInputText}} caratteri</div>
        </div>
        <datalist id="expensesList">
            <option *ngFor="let temp of expenses$ | async">{{temp.expense}}</option>
        </datalist>
        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-euro-sign"></i></span>
            </div>
            <input type="number" name='amount' [(ngModel)]="expense.amount" class="form-control input_pass" required
                [ngClass]="isValidAmount(expense.amount) ? 'is-valid' : 'is-invalid'" onfocus="this.select();" placeholder="Importo">
            <div class="invalid-feedback">Deve essere maggiore di 0</div>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-append">
                <span (click)="d.toggle()" class="input-group-text"><i class="fas fa-clock"></i></span>
            </div>
            <input class="form-control" name="date" [(ngModel)]="model" ngbDatepicker [footerTemplate]="footerTemplate" onfocus="this.select();" 
            [ngClass]="isValidDate(expense.expenseDate) ? 'is-valid' : 'is-invalid'" #d="ngbDatepicker" required readonly="readonly">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                <i class="fas fa-calendar"></i></button>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" name='buyer' [(ngModel)]="expense.buyer" class="form-control input_pass" required
                list="partecipantsList" [ngClass]="isValidBuyer(expense.buyer) ? 'is-valid' : 'is-invalid'"
                onfocus="this.select();"  placeholder="Pagatore">
            <datalist id="partecipantsList">
                <option *ngFor="let partecipantID of partecipants">{{partecipantID}}</option>
            </datalist>
            <div class="invalid-feedback">Deve essere popolato</div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" (click)="modalService.close(null)" class="btn btn-danger"
        data-dismiss="modal">Annulla</button>
    <button type="button" class="btn btn-success" [disabled]="!isValid(expense)" (click)="close()">{{action}}</button>
</div>

<!-- Bottoni per calendario -->
<ng-template #footerTemplate>
    <hr class="my-0">
    <button class="btn btn-primary btn-sm m-2 float-start" (click)="selectToday(); d.close()">Oggi</button>
    <button class="btn btn-secondary btn-sm m-2 float-end" (click)="d.close()">Chiudi</button>
</ng-template>