<div class="modal-header">
    <h5 class="modal-title">Crea una nuova spesa</h5>
    <button type="button" (click)="modalService.close(null)" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form #newListForm="ngForm">
        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-shopping-cart"></i></span>
            </div>
            <input type="text" name='expense' [(ngModel)]="newExpense.expense" class="form-control input_pass" required
                list="expensesList" [ngClass]="isValidExpense(newExpense.expense) ? 'is-valid' : 'is-invalid'"
                onfocus="this.select();"  placeholder="Nome nuova spesa">
            <div class="invalid-feedback">Deve contenere 1-{{maxInputText}} caratteri.</div>
        </div>
        <datalist id="expensesList">
            <option *ngFor="let expense of expenseTooltip">{{expense}}</option>
        </datalist>
        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-euro-sign"></i></span>
            </div>
            <input type="number" name='amount' [(ngModel)]="newExpense.amount" class="form-control input_pass" required
                [ngClass]="isValidAmount(newExpense.amount) ? 'is-valid' : 'is-invalid'" onfocus="this.select();" placeholder="Importo">
            <div class="invalid-feedback">Inserire importo maggiore di 0.</div>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-append">
                <span (click)="d.toggle()" class="input-group-text"><i class="fas fa-clock"></i></span>
            </div>
            <input class="form-control" name="date" [(ngModel)]="model" ngbDatepicker [footerTemplate]="footerTemplate" onfocus="this.select();" 
            [ngClass]="isValidDate(newExpense.expenseDate) ? 'is-valid' : 'is-invalid'" #d="ngbDatepicker" required readonly="readonly">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                <i class="fas fa-calendar"></i></button>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" name='buyer' [(ngModel)]="newExpense.buyer" class="form-control input_pass" required
                list="partecipantsList" [ngClass]="isValidBuyer(newExpense.buyer) ? 'is-valid' : 'is-invalid'"
                onfocus="this.select();"  placeholder="Pagato da">
            <datalist id="partecipantsList">
                <option *ngFor="let partecipantID of partecipantsTooltip">{{partecipantID}}</option>
            </datalist>
            <div class="invalid-feedback">Deve essere popolato.</div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" (click)="modalService.close(null)" class="btn btn-danger"
        data-dismiss="modal">Annulla</button>
    <button type="button" class="btn btn-success" [disabled]="!isValid(newExpense)" (click)="close()">{{action}}</button>
</div>

<!-- Bottoni per calendario -->
<ng-template #footerTemplate>
    <hr class="my-0">
    <button class="btn btn-primary btn-sm m-2 float-start" (click)="selectToday(); d.close()">Oggi</button>
    <button class="btn btn-secondary btn-sm m-2 float-end" (click)="d.close()">Chiudi</button>
</ng-template>