<app-toolbar></app-toolbar>
<br>
<h3 *ngIf="expensesList$ | async as expensesList" class="d-flex justify-content-center">
    {{expensesList.name}}
</h3>
<br>



<div class="container col-lg-6">
    <div class="d-flex justify-content-end">
        <div>
            <button id="btn-add" (click)="newExpense()" class="btn btn-success ml-1" type="button"><i
                    class="fa fa-plus"></i> Nuova spesa</button>
        </div>
        <div class="item-action dropdown">
            <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                <span class="input-group-text"><i class="fas fa-cog"></i></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
                <button class="dropdown-item">Dettagli Lista</button>
                <button class="dropdown-item" (click)="shareLink()">Condividi</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item">Abbandona</button>
            </div>
        </div>
    </div>

    <!-- DETTAGLI SPESA -->
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <button class="accordion-button collapsed bg-spese" type="button" data-toggle="collapse"
                data-target="#collapseList" aria-expanded="false" aria-controls="collapseList">
                Dettagli
            </button>
        </div>
    </div>

    <div class="collapse" id="collapseList">
        <div class="card card-body">
            Totale: {{formatAmount(expensesListTotalAmount)}} €
        </div>
    </div>
    <div class="d-flex justify-content-center mb-1" *ngFor="let expense of expenses$ | async">
        <div class="list list-row card col-lg-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="list-item">
                        <div class="flex">
                            <a data-abc="true">{{expense.expense}}</a>
                            <div class="item-except text-muted text-sm h-1x">
                                {{expense.buyer}} il {{timestampToDateString(expense.expenseDateTimestamp)}}
                                {{timestampToHourString(expense.expenseDateTimestamp)}}
                            </div>
                        </div>
                        <div id="amount">
                            {{formatAmount(expense.amount)}} €
                        </div>
                        <div class="item-action dropdown">
                            <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-more-vertical">
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="12" cy="5" r="1"></circle>
                                    <circle cx="12" cy="19" r="1"></circle>
                                </svg>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <button class="dropdown-item" (click)="edit(expense)">Modifica</button>
                                <div class="dropdown-divider"></div>
                                <button class="dropdown-item" (click)="delete(expense)">Cancella</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>