<div *ngIf="!(expensesList$)">
    <app-spinner></app-spinner>
</div>
<div *ngIf="expensesList$ | async as expensesList">
    <br>
    <h1 class="d-flex justify-content-center">
        {{expensesList.name}}
        <br>
    </h1>
    <br>
    <div class="container col-lg-6 mb-5">
        <div class="d-flex">
            <div class="mr-auto">
                <div id="saldo" class="d-inline-flex">
                    Saldo:
                    <span id="saldo-pallino" class="avatar"
                        [ngClass]="expensesList.paid ? 'gd-saldato' : ' gd-non-saldato'">
                    </span>
                </div>
            </div>
            <div>
                <button id="btn-add" (click)="openNewExpenseDialog(newExpense(), 'Crea')" class="btn ml-1"
                    [ngClass]="expensesList.paid ? 'btn-secondary' : 'btn-success'" [disabled]="expensesList.paid"
                    type="button">
                    <i class="fa fa-plus"></i> Nuova spesa</button>
            </div>
            <div class="btn-group dropdown">
                <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                    <span class="input-group-text btn btn-outline-secondary"><i class="fas fa-cog"></i></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <button class="dropdown-item" [routerLink]="['/details', expensesList.id]">Dettagli</button>
                    <button class="dropdown-item" (click)="shareLink()">Condividi</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" (click)="salda(expensesList)">{{expensesList.paid ? 'Riapri Saldo' :
                        'Chiudi Saldo'}}</button>
                    <button class="dropdown-item" (click)="leave(expensesList)">Abbandona</button>
                </div>
            </div>
        </div>
        <div *ngIf="expenses$ | async as expenses">
            <div *ngIf="(expenses.length <= 0)">
                <app-not-found subject="spesa"></app-not-found>
            </div>
            <div class="d-flex justify-content-center mb-1" *ngFor="let expense of expenses">
                <div class="list list-row card col-lg-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-item">
                                <div class="flex">
                                    <div class="">
                                        <a data-abc="true">{{expense.expense}}</a>
                                    </div>
                                    <div class="text-muted text-sm h-1x">
                                        {{expense.buyer}}
                                    </div>
                                    <div class="text-muted text-sm h-1x">
                                        {{timestampToDateString(expense.expenseDateTimestamp)}}
                                        {{timestampToHourString(expense.expenseDateTimestamp)}}
                                    </div>
                                </div>
                                <div id="amount">
                                    {{formatToEur(expense.amount)}}
                                </div>
                                <div class="item-action dropdown">
                                    <button [disabled]="expensesList.paid" data-toggle="dropdown"
                                        class="btn btn-link text-muted btn-dropdown-item" data-abc="true">
                                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-more-vertical">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="12" cy="5" r="1"></circle>
                                            <circle cx="12" cy="19" r="1"></circle>
                                        </svg></button>
                                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                                        <button class="dropdown-item" (click)="openNewExpenseDialog(expense, 'Modifica')">Modifica</button>
                                        <button class="dropdown-item" (click)="openNewExpenseDialog(expense, 'Ripeti')">Ripeti</button>
                                        <div class="dropdown-divider"></div>
                                        <button class="dropdown-item" (click)="delete(expense)">Cancella</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>