<app-toolbar></app-toolbar>
<div class="card_padding spese-background bg-light">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container bg-light">
                    <img src="https://firebasestorage.googleapis.com/v0/b/spese-curreli-bullita.appspot.com/o/ic_logo_purple.png?alt=media&token=4b6b2a65-3feb-4061-b9b6-e4872ba756fd"
                        referrerpolicy="no-referrer" class="brand_logo">
                </div>
            </div>
            <div *ngIf="constants$ | async as constants" class="form_container">

                <form *ngIf="expensesList$ | async as expensesList">
                    <div class="d-flex justify-content-center">
                        {{expensesList.partecipants.length}} / {{constants.listMaxUsers}} Partecipanti
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" name="button" class="btn join_btn" [disabled]="expensesList.partecipants.length >= constants.listMaxUsers"
                            (click)="addUserToList(listID)">Partecipa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>