@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body{
  font-family: "Poppins", Arial, sans-serif;
}

.cdk-overlay-container,
.cdk-overlay-pane {
    z-index: 9999 !important;
}

.modal-header {
    background: #7C4DFF !important;
    color: white !important;
    font-weight: bold;
}

.close {
    color: white !important;
}

.bg-spese {
    background: #7C4DFF !important;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: white !important;
}

.accordion-item{
    border: none
}

.wa-icon{
    color: white;
    width: 52px;
    height: 52px;
    background-color: #02c408;
    border-radius: 2rem;
    padding-top: 0.45rem;
}