/* You can add global styles to this file, and also import other style files */

.cdk-overlay-container, .cdk-overlay-pane {
    z-index: 9999 !important;
}

.modal-header{
    background: #7C4DFF !important;
    color: white !important;
    font-weight: bold;
}

.close{
    color: white !important;
}