<app-expense-list-view
    [expensesList]="expensesList"
    [expenses]="expenses"
    [expensesLoaded]="expensesLoaded"
    [expensesListTotalAmount]="expensesListTotalAmount"
    [isPersonal]="false"
    [balanceDetails]="balanceDetails"
    [balanceTotals]="balanceTotals"
    (newExpense)="openNewExpenseDialog(newExpense(), 'Crea')"
    (editExpense)="openNewExpenseDialog($event, 'Modifica')"
    (repeatExpense)="openNewExpenseDialog($event, 'Ripeti')"
    (deleteExpense)="delete($event)"
    (salda)="salda(expensesList!)"
    (leave)="leave(expensesList!)"
    (deleteList)="deleteList(expensesList!)"
    (shareLink)="shareLink()"
    (addGuest)="addGuest()"
    (removeGuest)="removeGuest($event)">
</app-expense-list-view>
